// Base stuff
@import "base/_normalize";
@import "base/_typography";

// Sass utilities
@import "helpers/_functions";
@import "helpers/_mixins";
@import "helpers/_variables";
@import "helpers/_extends";
@import "helpers/_common";

// Components and modules
@import "components/_banner";
@import "components/_buttons";
@import "components/_menu_bottom";
@import "components/_section";
@import "components/_section_fee";
@import "components/_section_flow";
@import "components/_section_form";
@import "components/_section_feature";
@import "components/_section_reason";


@import "partials/_form";
@import "partials/_fields";
@import "partials/_button";
@import "partials/_text_heading";


// Layout related stylesheets
@import "layout/_footer";
@import "layout/_header";
@import "layout/_navmain";
@import "layout/_top-bar";

// Page-specific stylesheets
@import "pages/_page-home";
@import "pages/_page_thankyou";

// Vendors and external stylesheets

body {background-color: white;font-family: $font-base; color: $color-text; font-weight: normal;font-size: $font-size-s;line-height: 1.4;-webkit-font-smoothing: antialiased;overflow-x: hidden}

