#logo {margin: 0;position: absolute;top: 15px;right: 15px;z-index: 1;
  a {}
  img {width: 100px;
    @media (min-width: $bp-md) {
      width: 200px;
    }
    @media (min-width: $bp-l) {

    }
    @media (min-width: $bp-xl) {

    }
  }
}
.slogan {margin: 0;position: absolute;left: 0;bottom: 40%;
  @media (min-width: $bp-md) {

  }
  @media (min-width: $bp-l) {
    bottom: inherit;top: 20%;
  }
}