#header {overflow: hidden;border-bottom: solid 5px $color-bg;
/*  &.fixed {background: rgba(0,0,0, 0.75);position: fixed;top: 0;z-index: 9990;width: 100%;
      .navtop_lst_item {
        a {color: white}
      }
      .navtop_lst_item.active a::before {
          background: white;
      }
  }*/
}
.header_container {position: relative;height: 100%}
