#banner {/*background: url("../../images/bg.jpg") no-repeat 0 50%*/;background-size: cover;position: relative;overflow: hidden;height: 300px;
  @media (min-width: $bp-md) {
      height: 600px;
  }
  @media (min-width: $bp-l) {
      height: 800px;
  }
  @media (min-width: $bp-xl) {
      height: 1000px;
  }
}
.banner_container {position: relative;text-align: center;padding: 15px;height: 100%;
  img {width: 100%;
    @media (min-width: $bp-laptop) {
      width: 75%;
    }
  }
}