.btn_contact {background: $color-link;color: white;max-width: 500px;margin: 0 auto;display: block;height: 60px;line-height: 60px;text-align: center;
  border: solid 1px $color-link;font-weight: bold;
  @include border-radius(50px);
  @include transition(all .3s ease);
  &:hover {background: white;color: $color-link}
}