#section_feature {}
.feature_lst {
  @extend %reset-lst;
}
.feature_item {padding: 15px 0 15px 50px;position: relative;
  &::before {content: '';display: block;width: 0;height: 0;border-style: solid;border-width: 0 0 30px 30px;border-color: transparent transparent #988d8d transparent;
    position: absolute;left: 0;top: 15px;
  }
}