#section_reason {}
.reason_col {background: $color-bg;color: white;text-align: center;height: 100%;padding: 15px; margin-bottom: 15px;
  @include transition(all .3s ease);
  @media (min-width: $bp-md) {
      padding: 15px;
  }
  @media (min-width: $bp-l) {
      padding: 30px;
  }
  img {margin-bottom: 30px;width: 100px}
  &:hover {
    @include box-shadow(0, 0, 15px, rgba(0,0,0, 0.65))
  }
}
.reason_col_title {margin-bottom: 30px;font-size: $font-size-b;font-weight: bold}
.reason_col_content {}