//Global
figure {margin: 0}

a {color: $color-link;text-decoration: none;-webkit-font-smoothing: antialiased;
  @include transition(color .3s ease);
  &:hover {
    color: $color-text;
  }
}

img {max-width: 100%}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.ajax-loader {background: rgba(0,0,0,0.9);position: absolute;top: 0;width: calc(100% - 30px);height: 100%;display: flex;align-items: center;justify-content: center;color: white}