//Color
$color-base: #4A4343;
$color-bg: #4A4343;
$color-bg-secondary: #4A4343;
$color-bg-third: #4A4343;
$color-blue: #0777AD;
$color-link: #0777AD;
$color-mint: #7EE2DA;

$color-title: #4A4343;
$color-text: #4A4343;
$color-text-secondary: #4A4343;
$color-border: #4A4343;
$color-gray: #dcdcdc;
$color-meta: #c8c8c8;
$color-input: #535353;

//Fonts-size
$font-size-xs: 14px;
$font-size-s: 16px;
$font-size-m: 16px;
$font-size-b: 18px;
$font-size-bb: 32px;

//Url base
//url(#{$url-img}/site/background.jpg)
$url-img: "../images";

//Breakpoint
$bp-xs: 425px;
$bp-s: 540px;
$bp-mobile: 540px;

$bp-md: 768px;
$bp-tablet: 768px;
$bp-l: 992px;
$bp-laptop: 992px;
$bp-xl: 1200px;